/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
    -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: #E4E4E4;
    background-image: linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image: -webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image: -ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, #A7A7A7),
            color-stop(0.51, #E4E4E4)
    );
    background-attachment: fixed;
    font-family: Lato, sans-serif;
    font-size: 12px;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
}

.app {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.app .map {
    position: relative;
    height: 70%;
    background: #333333;
    overflow: hidden;
    padding-left: auto;
    padding-right: auto;
}

.app .map svg {
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* animation */
.app .map svg {
    -webkit-transition: transform 0.5s ease-out;
    -moz-transition: transform 0.5s ease-out;
    -o-transition: transform 0.5s ease-out;
    transition: transform 0.5s ease-out;
}

.app .map svg polyline {
    stroke-width: 5;
    stroke-opacity: 30%;
    stroke: #101010;
}

.app .detail {
    position: relative;
    overflow-x: hidden;
    height: 30%;
}
.app .detail .bg {
    opacity: 0.5;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url('../img/ubirch_logo_white.svg') no-repeat center;
    z-index: -1;
}
.app .detail .wrap {
    display: table;
    width: 100%;
    height: 100%;
}
.app .detail .content {
    display: table-cell;
    vertical-align: middle;
    text-shadow: 0 0 10px rgba(150, 150, 150, 1);
    padding: 10px;
    font-size: 16px;
}
.app .detail .content .body {
    max-width: 320px;
    margin: 0 auto;
    position: relative;
}
.app .detail .content span {
    font-size: 1.875em;
}
.app .detail .content p {
    font-size: 1.125em;
    margin: 5px;
}
/* animation */
.app .detail .content {
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out;
}

.app .detail .content.visible {
    opacity: 1;
}

.app .detail .bg {
    background-size: 0;
    -webkit-transition: background-size 0.5s ease-out;
    -moz-transition: background-size 0.5s ease-out;
    -o-transition: background-size 0.5s ease-out;
    transition: background-size 0.5s ease-out;
}

.app .detail .colors {
    float: right;
    position: relative;
    right: 15px;
    top: 8px;
    font-size: 0.750em;
    color: #ffffff;
    vertical-align: text-bottom;
}

.app .detail .colors .led {
    display: inline-block;
    line-height: 18px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    padding: 5px;
    margin-right: 5px;
    width: 18px;
    height: 18px;
    text-align: center;
}
.app .detail .colors .led:last-child {
    margin-right: 0;
}

/* credits */
.credits {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
.credits h1 {
    text-transform: uppercase;
}
.credits figure {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: steelblue;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    margin: 5px;
    margin-top: 20px;
    margin-left: 10px;

    padding: 5px;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
.credits .leaf {
    background: url('../img/ubirch_logo_tree.png') no-repeat center transparent;
    background-size: cover;
    display: inline-block;
    cursor: pointer;
    width: 50px;
    height: 50px;
}
.credits .leaf.close {
    background-image: url('../img/close.png');
}
.credits .content {
    display: table;
    position: relative;
    width: 0;
    height: 0;
    opacity: 0;
    font-size: 0;
    overflow: hidden;
}
.credits .content .bg {
    background: #ffffff;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    display: inline-block;
    padding: 50px;
    margin: 10px;
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
    display: none;
    overflow: auto;
}
.credits .content h2 {
    margin-bottom: 5px;
}
.credits .content a {
    color: steelblue;
}
.credits .content .cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.credits .content .grey {
    color: rgb(143,143,143);
}

.credits.is-open, .credits.is-closed {
    right: 0;
    bottom: 0;
}

.credits.is-open .content {
    opacity: 1;
    width: 100%;
    height: 100%;
    font-size: 12px;
}
.credits.is-open .content .bg {
    display: block;
}


/* animation */
.credits .content {
    /*-webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;*/
}

/* hover map */
g#EU path:hover {
    fill: steelblue;
    cursor: pointer;
}